* {

  /* background-image: url('../src/images/background.png'); */

  /* color: white; */
  display: flexbox;
  flex-wrap: wrap;
}


.App {
  text-align: center;
}

.planetinha {
  display: flex;
}

.title-planet {
  border-radius: 17px;
  height: 98px;
  left: 164px;
  top: 317px;
  width: 1140px;
}
